
@font-face {
   font-family: mono;
   src: url(SourceCodePro-Regular.otf);
}


* {
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

.hidden {
   display: none !important;
}

.siteswap {
   font-family: mono, sans-serif;
   background-color: #dfdfdf;
   color: #1b1b1b;
   padding: 0 3px;
}

.siteswap:hover {
   text-decoration: underline;
   cursor: pointer;
}



/* STYLES */

body {
   background-color: #333333;
}

#animator-nav {
   background-color: #222222;
   color: #666666;
}

#animator-siteswap {
   background-color: #1b1b1b;
   color: #dfdfdf;
   font-family: mono, sans-serif;
   outline: none;
   border: none;   
}

#animator-siteswap.invalid:not(.empty) {
   color: #ef3340;
}

#animator-nav p {
   color:#757575;
   font-style: italic;
}
#animator-nav li {
   background-color: #2a2a2a;
}
#animator-nav li.selected {
   background-color: #333333;
   color: #757575;
}
#animator-nav li:not(.selected):hover {
   color: #bcbcbc;
}

#siteswap-info {
   transition: height 150ms ease;
}

#siteswap-info dt {
   color: darkgray;
   font-family: sans-serif;
   font-style: italic;   
   opacity: 0.5;
}

#siteswap-info dd {
   color: #dfdfdf;
   font-family: mono, sans-serif;
}

#animator-resize {
   background-color: #222;
   opacity: 0.3;
   cursor: col-resize;
}
#animator-resize:hover {
   opacity: 0.5;
}

#controls {
   font-family: mono, sans-serif;
}
#controls::before {                 /* border */
   content: '';
   width: 100%;
   height: 3px;
   display: block;
   position: absolute;
   left: 0;
   background-color: #1b1b1b;
}

#controls .animator-setting p {
   font-family: sans-serif;
}

#controls .animator-setting li {
   cursor: default;
}

#controls .animator-setting.color li {
   opacity: 0.4;
}
#controls .animator-setting.color li::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 90%;
   opacity: 0.9;
   background-color: black;
}
#controls .animator-setting.color li.selected::before {
   opacity: 0.3;
}
#controls .animator-setting.color li:hover,
#controls .animator-setting.color li.selected {
   opacity: 0.6;
}

#controls-toggle {
   opacity: 0.3;
}

#controls-toggle:hover {
   opacity: 0.4;
}

#overlay {
   background-color: #333333;
   font-family: mono, sans-serif;
   color: #d3d3d3;
   opacity: 0;
   transition: opacity 300ms ease,
               z-index 0ms linear 300ms;
}
#overlay.unsupported,
#overlay.loading {
   opacity: 1;
}

#overlay p {
   font-size: 40px;
}

#loader span {
   background: #d3d3d3;
}



/* LAYOUT */

body {
   position: fixed;
   width: 100%;
   height: 100%;
}

#animator-nav {
   position: absolute;
   width: 300px;
   height: 100%;
}

#animator-main {
   position: absolute;
   left: 300px;
   right: 100px;
   height: 100%;
   min-width: 350px;
   max-width: calc(100% - 300px - 10px);   /* 300 (nav) + 10 (resize) */
   box-sizing: border-box;
}

#animator-canvas {
   position: relative;
   width: 95%;
   height: 95%;
   top: 2.5%;
   left: 2.5%;
   box-sizing: border-box;   
}

#animator-siteswap {
   display: block;
   width: 100%;
   height: 140px;
   padding: 10px;
   font-size: 100px;
   box-sizing: border-box;
   text-align: right;
}

#siteswap-info {
   position: relative;
   height: calc(100% - 140px - 25px);   /* 140 (input) + 25 (expand settings) */
   box-sizing: border-box;
   overflow: auto;
   line-height: 30px; 
}

.configuring #siteswap-info {
   height: calc(100% - 140px - 325px);  /* 140 (input) + 325 (settings) */
}

.invalid + #siteswap-info {
   min-height: 50px;         /* message always visible */
   overflow-y: hidden;
}

#siteswap-info #siteswap-message {
   position: absolute;
   width: 100%;
   line-height: 50px;
   text-align: center;
}

#siteswap-message:not(:empty) + dl {
   display: none;
}

#siteswap-info dl {
   padding: 15px 0 10px 20px;
}

#siteswap-info dt {
   position: absolute;
   font-size: 14px;
}

#siteswap-info dt.hidden + dd {
   display: none;            /* `composition` hidden if siteswap is prime */
}

#siteswap-info dd {
   width: 100%;
   line-height: 30px;   
   padding-left: 120px;
   box-sizing: border-box;
   font-size: 16px;
}

#animator-resize {
   position: absolute;
   top: 0;
   right: -10px;
   width: 10px;
   height: 100%;
   cursor: col-resize;
}

#controls {
   height: 325px;
   padding: 0 20px;
   overflow-y: auto;
}

#controls .animator-setting {
   display: table;
   table-layout: fixed;
   width: 100%;
   padding-bottom: 10px;
}

#controls .animator-setting p {
   display: table-caption;
   padding: 0 2px 2px;
   line-height: 18px;
   font-size: 12px;
}

#controls .animator-setting ul {
   display: table-row;
   height: 30px;
   text-align: center;
   font-size: 14px;
}

#controls .animator-setting li {
   position: relative;
   display: table-cell;
   vertical-align: middle;
}
#controls .animator-setting li:first-child {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
#controls .animator-setting li:last-child {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

#controls-toggle + .animator-setting {
   margin-top: 15px;
}

#controls-toggle {
   position: absolute;
   right: 5px;
   max-width: 18px;
   padding: 4px;
}
.configuring #controls-toggle {
   transform: rotate(180deg);
}
body:not(.configuring) .animator-setting {
   visibility: hidden;
}

#overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
}
#overlay.unsupported,
#overlay.loading {
   z-index: 100;
}

#overlay.loading #loader {
   display: block;
}

#loader {
   display: none;
   position: relative;
   width: 64px;
   height: 64px;
}
#loader span {
   position: absolute;
   top: 27px;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#loader span:nth-child(1) {
   left: 6px;
   animation: loader1 0.6s infinite;
}
#loader span:nth-child(2) {
   left: 6px;
   animation: loader2 0.6s infinite;
}
#loader span:nth-child(3) {
   left: 26px;
   animation: loader2 0.6s infinite;
}
#loader span:nth-child(4) {
   left: 45px;
   animation: loader3 0.6s infinite;
}
@keyframes loader1 {
   0% {   transform: scale(0); }
   100% { transform: scale(1); }
}
@keyframes loader3 {
   0% {   transform: scale(1); }
   100% { transform: scale(0); }
}
@keyframes loader2 {
   0% {   transform: translate(0, 0); }
   100% { transform: translate(19px, 0); }
}






/* default rules assume full width and full height */


/* full width (nav 300 + canvas 350) and small height (input 140 + settings 325 + message 50) */

@media screen and (min-width: 650px) and (max-height: 515px) {

   #controls {
      height: calc(100% - 140px) !important;
   }
   #controls .animator-setting {
      visibility: visible;
   }


   #siteswap-info,
   #controls-toggle,
   #controls::before {
      display: none;
   }

}


/* small width (nav 300 + canvas 350) and full height */

@media screen and (max-width: 650px) {

   #animator-nav {
      width: 100%;
   }

   #animator-siteswap {
      position: fixed;
      top: 0;
      height: 60px;
      padding: 5px;
      text-align: center;
      font-size: 40px !important;
   }

   #animator-main {
      position: static;
      min-width: 100%;
      max-width: 100%;
      height: calc(100% - 85px);       /* 60 (input) + 25 (expand settings) */
      margin-top: 60px;
   }

   .configuring #animator-main {
      height: calc(100% - 385px);      /* 60 (input) + 325 (settings) */
   }

   #controls {
      display: block;
      max-width: 400px;
      margin: 0 auto;      
   }

   #siteswap-info {
      display: none;
   }

}


/* small width (nav 300 + canvas 350) and small height (input 60 + controls 325) */

@media screen and (max-width: 650px) and (max-height: 385px) {

   #animator-main {
      height: calc(100% - 60px) !important;   /* 60 (input) */
   }

   #controls {
      display: none;
   }

}

