/* COLORS */
/* SIZES */
@font-face {
  font-family: mono;
  src: url(assets/SourceCodePro-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
.hidden {
  display: none !important;
}
.siteswap {
  padding: 1px 5px;
  border-radius: 3px;
  font-family: mono, sans-serif;
  background-color: #7289da;
  color: white;
}
.siteswap::after {
  content: "\A";
  white-space: pre;
}
.siteswap:hover {
  cursor: pointer;
}
body {
  background-color: #36393f;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-color: #36393f;
  font-family: mono, sans-serif;
  color: #d3d3d3;
  opacity: 0;
}
#overlay p {
  font-size: 40px;
}
#overlay.unsupported,
#overlay.loading {
  z-index: 100;
  opacity: 1;
}
#overlay.loading #loader {
  display: block;
}
#overlay #loader {
  display: none;
  position: relative;
  width: 64px;
  height: 64px;
}
#overlay #loader span {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background-color: #d3d3d3;
}
#overlay #loader span:nth-child(1) {
  left: 6px;
  animation: loader1 0.6s infinite;
}
#overlay #loader span:nth-child(2) {
  left: 6px;
  animation: loader2 0.6s infinite;
}
#overlay #loader span:nth-child(3) {
  left: 26px;
  animation: loader2 0.6s infinite;
}
#overlay #loader span:nth-child(4) {
  left: 45px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
#root.intro-enter-active {
  transition: opacity 350ms ease;
}
#root.intro-enter {
  opacity: 0;
}
nav {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #2f3136;
  font-family: mono, sans-serif;
}
nav.collapsed #siteswap {
  height: calc(100% - 25px);
}
#siteswap {
  height: calc(100% - 335px);
  color: #dfdfdf;
  transition: height 200ms ease-out;
}
#siteswap input {
  display: block;
  width: 100%;
  height: 140px;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  outline: none;
  border: none;
  background-color: #282b30;
  color: white;
  font-family: inherit;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
}
#siteswap input.invalid {
  color: #ef3340;
}
#siteswap #siteswap-info {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  line-height: 30px;
  height: calc(100% - 140px);
}
#siteswap #siteswap-info p {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 15px 15px 10px;
}
#siteswap #siteswap-info dl {
  padding: 15px 15px 10px;
}
#siteswap #siteswap-info dl dt {
  position: absolute;
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
  color: #b9bbbe;
  opacity: 0.5;
}
#siteswap #siteswap-info dl dd {
  width: 100%;
  padding-left: 110px;
  box-sizing: border-box;
  font-size: 16px;
}
#siteswap #siteswap-info dl dd:last-child {
  padding-bottom: 10px;
}
.collapsed #settings-toggle img {
  transform: rotate(180deg);
}
#settings {
  position: relative;
  height: 335px;
  padding-top: 25px;
  overflow-y: hidden;
  background-color: #282b30;
  color: rgba(255, 255, 255, 0.6);
}
#settings #settings-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  font-size: 12px;
  background-color: rgba(32, 34, 37, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
}
#settings #settings-toggle img {
  position: absolute;
  top: 5px;
  right: 10px;
  max-width: 15px;
  opacity: 0.3;
}
#settings #settings-toggle img:hover {
  opacity: 0.4;
}
#settings .setting {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0 20px;
}
#settings .setting p {
  display: table-caption;
  padding: 10px 20px 2px;
  line-height: 18px;
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(221, 222, 223, 0.4);
}
#settings .setting ul {
  display: table-row;
  height: 30px;
  text-align: center;
  font-size: 14px;
}
#settings .setting li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background-color: #36393f;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-right: none;
  cursor: default;
  transition: background-color 100ms ease;
}
#settings .setting li:hover {
  color: white;
}
#settings .setting li.selected {
  background-color: #282b30;
}
#settings .setting li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#settings .setting li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#settings .setting.ballColor {
  padding-bottom: 10px;
}
#settings .setting.ballColor li {
  border-color: black;
  opacity: 0.2;
}
#settings .setting.ballColor li:hover,
#settings .setting.ballColor li.selected {
  opacity: 0.6;
}
#settings .setting.ballColor li.selected::before {
  opacity: 0.3;
}
#settings .setting.ballColor li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  opacity: 0.9;
  background-color: black;
}
main {
  position: fixed;
  left: 300px;
  height: 100%;
  min-width: 350px;
  max-width: calc(100% - 300px - 10px);
  box-sizing: border-box;
}
main #animator-canvas {
  position: relative;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  box-sizing: border-box;
}
#animator-resize {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background-color: #282b30;
  opacity: 0.3;
  cursor: col-resize;
}
#animator-resize:hover {
  opacity: 0.5;
}
/* default rules assume full width and full height */
/* full width and small height - always display settings, hide siteswap info */
@media screen and (min-width: 650px) and (max-height: 475px) {
  #siteswap {
    height: 140px !important;
  }
  #settings {
    max-height: calc(100% - 140px);
  }
  #settings-toggle img {
    display: none;
  }
}
/* small width - unite nav and main (make input and settings full width, hide siteswap info) */
@media screen and (max-width: 650px) {
  nav {
    width: 100%;
    background-color: inherit;
  }
  #siteswap {
    min-height: 80px;
  }
  #siteswap input {
    position: absolute;
    top: 0;
    height: 80px;
    padding: 5px;
    text-align: center;
    font-size: 60px !important;
  }
  #siteswap #siteswap-info {
    display: none;
  }
  #settings {
    width: 100%;
    max-height: calc(100% - 80px);
  }
  #settings #settings-toggle {
    width: 100%;
    padding: 0;
  }
  #settings #settings-toggle p {
    padding: 0 20px;
    transition: all 175ms ease;
  }
  #settings #settings-toggle p,
  #settings .setting {
    max-width: 350px;
    margin: 0 auto;
  }
  .collapsed #settings #settings-toggle p {
    max-width: 100%;
  }
  nav.collapsed + main {
    bottom: 25px;
  }
  main {
    left: 0;
    right: 0 !important;
    top: 80px;
    bottom: 335px;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    transition: bottom 200ms ease;
  }
}
.__vuescroll {
  position: relative;
  overflow: hidden;
}
.__vuescroll .__panel {
  box-sizing: border-box;
  position: relative;
}
.__vuescroll .__panel.__native {
  height: 100%;
}
.__vuescroll.horizontal .__panel.__native {
  height: calc(100% + 18px);
}
.__vuescroll.vertical .__panel.__native {
  margin-right: -18px;
  padding-right: 18px;
}
.__vuescroll .__panel.__native.__gutter {
  margin-right: -30px;
}
.__vuescroll .__panel.__slide {
  transform-origin: left top 0;
  user-select: none;
  min-width: 100%;
  min-height: 100%;
}
.__vuescroll .__view {
  position: relative;
  box-sizing: border-box;
}
.__vuescroll .__view.__gutter {
  border-right: 30px solid transparent;
  box-sizing: content-box;
}
.__vuescroll .__view.__no-hbar {
  min-width: 100%!important;
}
.__vuescroll .__rail-is-vertical,
.__vuescroll .__rail-is-horizontal {
  position: absolute;
  z-index: 1;
}
.__vuescroll .__bar-is-vertical,
.__vuescroll .__bar-is-horizontal {
  position: relative;
  transition: opacity 0.5s;
  user-select: none;
  border-radius: inherit;
  background-color: #47494d !important;
}
.__vuescroll .__rail-is-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
}
.__vuescroll .__rail-is-vertical .__bar-is-vertical {
  top: 0;
  width: 100%;
}
.__vuescroll .__rail-is-horizontal {
  right: 2px;
  left: 2px;
  bottom: 2px;
}
.__vuescroll .__rail-is-horizontal .__bar-is-horizontal {
  left: 0;
  height: 100%;
}
.__vuescroll .__refresh,
.__vuescroll .__load {
  position: absolute;
  width: 100%;
  color: #000;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
.__vuescroll .__refresh svg,
.__vuescroll .__load svg {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  vertical-align: sub;
}
.__vuescroll .__refresh svg path,
.__vuescroll .__refresh svg rect,
.__vuescroll .__load svg path,
.__vuescroll .__load svg rect {
  fill: #ff6700;
}
.__vuescroll .__load-disabled {
  display: none;
}
